<div style="display: flex; justify-content: center ; align-items: center;">
<mat-card style="display: flex; justify-content: center ; width: 500px;" >
    <mat-card-header style="display: flex; justify-content: center ; min-width:auto;">
        <h1>User Registeration</h1>
    </mat-card-header>
    <mat-card-content style="display: flex; justify-content: center ; min-width:auto;">
      <form [formGroup]="registerForm" (ngSubmit)="proceedRegisteration()" class="registerForm">
        <div>
         <mat-form-field style="width:300px;">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="id">
         </mat-form-field>
        </div>
        <div>
        <mat-form-field style="width:300px;">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        </div>
        <div>
        <mat-form-field style="width:300px;">
            <mat-label>Password</mat-label>
            <input type= "password" matInput formControlName="password">
        </mat-form-field >
        </div>
        <div>
        <mat-form-field style="width:300px;" >
            <mat-label>Email</mat-label>
            <input type= "email" matInput formControlName="email">
        </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-around ;width:300px;" >
        <mat-radio-group aria-label="Gender" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        </div>
        <div style="display: flex; justify-content: space-around ; width:300px;">
            <button mat-raised-button  [formAction]="proceedRegisteration" color="primary">Submit</button>
            <a routerLink="/login" mat-raised-button color="accent">Login</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- <mat-card>
    <mat-card-header>
        <h2>Registeration</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedRegisteration()">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" >
              </mat-form-field>
              <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
              </mat-radio-group>
              <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card> -->

